@layout()
  <h1 class="display-1">Seja Bem Vindo ao PC Sports</h1><br>
  <h2 class="display-3">A aplicação número para gerenciamento de eventos esportivos na Região Norte.</h2><br>
  <h4 class="display-4">Sinta-se a vontade neste ambiente, nosso desejo é que a nossa aplicação possa
    te ajudar a atingir seus objetivos, seja você corredor ou um organizador, calce os seus melhores tênis
    de corrida e vamos pra Cima!!!</h4>
@end