@layout()
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div>
        <h1 class="card-title">Venha Correr Com a Gente!!!</h1>
          <a><img src="{{ asset('resources/assets/images/corrida.jpg') }}" /></a>
      </div>
    </div>
  </div>
@end